html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.btn {
    background-color: rgb(255,197,3);
    border: none;
}
.btn.hover {
    background-color: rgb(199, 155, 9); 
}

.btn:active {
    background-color: rgb(199, 155, 9) !important;
    border: none; 
}


/***** Header *****/
.jumbotron {
    color: white;
    margin-bottom: 0;
    background-color: rgb(4, 4, 48);
}

.jumbotron .nav-link {
    color: white;
}

header h1 {
    font-weight: 700;
    font-size: 3em;
    padding: 10% 0%;
}

h2 {
    font-weight: 700;
    font-size: 2.5em;
}


header .container.main-header {
    height: 20vh;
}

/***** Navigation Buttons ****/
.btn-nav {
    color: white;
    padding: 3.5%;
    text-align: center;
}

.btn-nav:hover {
    text-decoration: none;
}

.nav-link {
    font-size: 22px;
}

.nav-link:hover {
    color: rgb(255, 197,3);
}

/********** Intro ******/
.intro {
    max-width: 800px;
}
.intro p {
    line-height: 33px;
}

/**** Speakers ******/
.speakers {
    margin-top: 7%;
    background-color: #F8F9FA;
}

.speakers img {
    width: 200px;
    height: 200px;
}

.speakers p {
    margin-bottom: 0;
}

p.name {
    margin-top: 10px;
    font-weight: bold;
    color: black;
}

p.name:hover {
    color: rgb(255, 197,3);
}

p.title {
    color: #736D6D;
}

.speakers a:hover {
    text-decoration: none;
}

hr.bar {
    border: 2px solid rgb(255, 197,3);
    width: 120px;
}

/***** Theme ******/
.theme {
    margin-top: 5%;
}
.hr-text {
    position: relative;
    outline: 0;
    border: 0;
    text-align: center;
    height: 1.5em;
    font-size: 1.5em;
  }
  .hr-text:before {
    content: '';
    background: rgb(255,197,3);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 5px;
  }
  .hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;

    padding: 0 .5em;
    line-height: 1.5em;
    color: black;
    background-color: white;
  }

  .theme-text {
      line-height: 80px;
      margin: 5% 0;
  }

  .theme-bar {
    border: 3px solid rgb(255, 197,3);
  }

  hr.underline {
    border: 1px solid rgb(255, 197,3);
    width: 200px;
  }

  /***** What to expect *****/
  .expect {
      margin-top: 7%;
  }
  .expect .title {
    background-image: url('../images/conference/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .expect .title h2 {
    justify-content: center;
  }

  .expect .list {
      background-color: #F8F9FA;
      display: flex;
      justify-content: center;
  }

  .expect .list ul {
    list-style-type: none;
    font-size: 25px;
    text-align: center;
    padding: 0;
  }

  .expect .list ul li {
      margin-top: 20px;
      font-weight: bold;
      opacity: 80%;
  }

/***** Registration *****/
.registration {
    margin-top: 7%;
    margin-bottom: 5%;
}

.register-bar {
    border: 2px solid rgb(255, 197,3);
    width: 200px;
    text-align: left;
}

.register p {
    line-height: 33px;
}

/******** Footer *****/
.footer-right .btn {
    background-color: rgb(255,197,3);
    border: none;
    margin-top: 5%;
}
.footer-distributed{
    background-color: #10102F;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    font: bold 16px sans-serif;
    text-align: left;
    padding: 15px 60px 10px;
    margin-left: 0;
    margin-top: 3px solid black;
    overflow: hidden;

}
/* Footer left */
.footer-distributed .footer-left{
    float: left;
    width: 50%;
    font-family: 'Source Sans Pro', sans-serif;
}
.
/* Logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0 0 10px;
}

.footer-distributed h3 span{
    color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 0.8;
    text-decoration: none;
    color:  inherit;
}
.footer-links a:hover{
        opacity: 0.7;
    }
.footer-distributed .footer-connect{
    color:  white;
    font-size: 14px;
    font-weight: normal;
    padding-top: 40px;
    margin: 0;
}

/* Footer social icons */

.fa {
  padding: 20px;
  font-size: 15px;
  text-align: center;
  align-content: center;
  margin: 5px 1px;
  border-radius: 5px;
}

/* Add a hover effect */

.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
/* Twitter */

.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-medium {
    background: #125688;
    color: white;
  }
  .fa-youtube {
    background: #125688;
    color: white;
  }
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-envelope {
    background: #3ea1ec;
    color: white;
}
/* Footer Right */

.footer-distributed .footer-right{
    float: right;
    font-family: 'Source Sans Pro', sans-serif;
}

.footer-distributed .footer-right p{
    display: block;
    vertical-align: top;
    margin: 20px 15px 0 0;
    color: #ffffff;
}
/* If you don't want the footer to be responsive, remove these media queries */

@media screen and (max-width: 950px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-company-name{
        font-size: 12px;
    }

    .footer-distributed form input{
        width: 300px;
    }
    .footer-distributed form button{
        padding: 10px 35px;
    }
    .footer-distributed .footer-connect{
      font:bold;
      margin-top: 0px;
      padding-top: 0px;
    }

}

@media screen and (max-width: 950px) {

    .footer-distributed{
        padding: 10px;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-right{
        float: none;
        max-width: 400px;
        margin: 0 auto;
    }

    .footer-distributed .footer-left{
        width: auto;
        margin-bottom: 5px;
    }

    .footer-distributed form button{
        float: none;
        cursor: pointer;
    }
    form button:hover{
        opacity: 0.7;
    }
    .footer-distributed .footer-connect{
      margin-top: 0px;
      padding-top: 0px;
    }

}

/******* Mobile Responsiveness ******/
@media (min-width: 992px) {
    .video-button {
        display: none;
    }
    hr.underline {
        display: none;
    }
}
@media (max-width: 991.98px) {
    .ucsd-logo {
        width: 100px; 
        height: 60px;
    }
    header h1 {
        font-size: 2rem;
    }
    header h3 {
        font-size: 1rem;
    }
    .btn-nav h1 {
        font-size: 16px;
    }
    header .container  {
        padding: 18% 0%;   
    }
    .small-header .container {
        padding: 19% 0%;
    }
    .support {
        text-align: center;
    }
    .email-input {
        width: 90px;
    }
    .video {
        display: none;
    }
    .hr-text:before {
        width: 0;
    }
    .theme-bar {
        border: 0;
      }
      .theme-text {
        font-size: 1.5rem;
        line-height: 50px;
    }
    .expect .title h2 {
        font-size: 40px;
      }
}