body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

/***** Header *****/
.jumbotron {
    color: white;
    margin-bottom: 0;
    background-color: rgb(4, 4, 48);
}

.jumbotron .nav-link {
    color: white;
}

header h1 {
    font-weight: 700;
    font-size: 3em;
}

h2 {
    font-weight: 700;
}

header .container {
    padding: 10.5% 0%;
}

/***** Navigation Buttons ****/
.btn-nav {
    color: white;
    padding: 3.5%;
    text-align: center;
}

.btn-nav:hover {
    text-decoration: none;
}

div.btn-about {
      background-color: #56D3B8;
      border-right: 1px solid black;
}

div.btn-events {
      background-color: #04D4F0;
      border-right: 1px solid black;
}

div.btn-involve {
    background-color: rgb(90, 159, 224);
}

.nav-link {
    font-size: 22px;
}

.nav-link:hover {
    color: rgb(86, 211, 184);
}

/**** Conference ****/
.conference {
    margin-top: 7%;
}

.conference .btn {
    background-color: #04D4F0;
    color: white;
    border: none;
}
/***** News ******/
.news {
    margin-top: 7%;
    background-color: #F8F9FA;
}
.news .card-header {
    color: white;
    background-color: rgb(90, 159, 224);;
}

.news .card-body {
    padding: 12%;
}
.card-body .btn {
    background-color: #04D4F0;
    border: none;
}

/***** Support *****/
.support {
    margin-top: 7%;
    margin-bottom: 7%;
}

.support .btn {
    background-color: #04D4F0;
    color: white;
    border: none;
}

/******** Footer *****/
input#mc-embedded-subscribe {
    background-color: #04D4F0;
    color: white;
    margin: 0px;
}
.footer-distributed{
    background-color: #10102F;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    font: bold 16px sans-serif;
    text-align: left;
    padding: 15px 60px 10px;
    margin-left: 0;
    margin-top: 3px solid black;
    overflow: hidden;

}
/* Footer left */
.footer-distributed .footer-left{
    float: left;
    width: 50%;
    font-family: 'Source Sans Pro', sans-serif;
}
.
/* Logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0 0 10px;
}

.footer-distributed h3 span{
    color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 0.8;
    text-decoration: none;
    color:  inherit;
}
.footer-links a:hover{
        opacity: 0.7;
    }
.footer-distributed .footer-connect{
    color:  white;
    font-size: 14px;
    font-weight: normal;
    padding-top: 40px;
    margin: 0;
}

/* Footer social icons */

.fa {
  padding: 20px;
  font-size: 15px;
  width: 20px;
  text-align: center;
  align-content: center;
  margin: 5px 1px;
  border-radius: 5px;
}

/* Add a hover effect */

.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
/* Twitter */

.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-envelope {
    background: #3ea1ec;
    color: white;
}
/* Footer Right */

.footer-distributed .footer-right{
    float: right;
    font-family: 'Source Sans Pro', sans-serif;
}

.footer-distributed .footer-right p{
    display: block;
    vertical-align: top;
    margin: 20px 15px 0 0;
    color: #ffffff;
}

/* The contact form */

.footer-distributed form{
    margin-top: 20px;
    display: block;
}

.footer-distributed form input{
    display: block;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    font: inherit;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #323232;
    width: 410px;
    padding: 5px;
}

.footer-distributed ::-webkit-input-placeholder {
    color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
    color:  #5c666b;
    opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
    color:  #5c666b;
}

.footer-distributed form input{
    height: 55px;
    margin-bottom: 15px;
}
.footer-distributed form button{
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    background-color: #34699A;
    color: #ffffff;
    border: 0;
    padding: 15px 50px;
    font-weight: bold;
    font-size: 13px;
    float: right;
}
form button:hover{
        opacity: 0.7;
    }
/* If you don't want the footer to be responsive, remove these media queries */

@media screen and (max-width: 950px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-company-name{
        font-size: 12px;
    }

    .footer-distributed form input{
        width: 300px;
    }
    .footer-distributed form button{
        padding: 10px 35px;
    }
    .footer-distributed .footer-connect{
      font:bold;
      margin-top: 0px;
      padding-top: 0px;
    }

}

@media screen and (max-width: 950px) {

    .footer-distributed{
        padding: 10px;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-right{
        float: none;
        max-width: 400px;
        margin: 0 auto;
    }

    .footer-distributed .footer-left{
        width: auto;
        margin-bottom: 5px;
    }

    .footer-distributed form button{
        float: none;
        cursor: pointer;
    }
    form button:hover{
        opacity: 0.7;
    }
    .footer-distributed .footer-connect{
      margin-top: 0px;
      padding-top: 0px;
    }

}

/****** About Page *******/
.small-header .container {
    padding: 5% 0%;
}
.exec .card-text {
    color: gray;
}

.exec .card-info {
    font-size: 14px;
}

.exec .member-card {
    align-content: center;
    justify-content: center;
}

.exec .card-reveal {
    padding: 5% 0%;
}

.card-reveal p {
    font-size: 12px;
    padding: 5%;
}

.card-image img {
    height: 300px;
    background-color: #F8F9FA;
    /*background-image: url('../images/news/gbm1.jpg');*/
}

/***** Events ******/
.list {
    margin-top: 7%;
    margin-bottom: 7%;
}

.list button {
    color: white;
}

.list button:hover {
    text-decoration: none;
}

.list .card-header {
    background-color: rgb(90, 159, 224);
}

/****** Get involved *****/
.member a, .omega a {
    background-color: #04D4F0;
    color: white;
    border: none;
}

.member .card-header {
    color: white;
    background-color: rgb(90, 159, 224);
}

.news-button {
    background-color: #04D4F0;
    border: none;
    color: white;
    border-radius: 5%;
    padding: 7px 11px;
    font-size: 16px;
}
.news-button:hover {
    background-color: rgb(6, 167, 189);
}

.btn:hover {
    background-color: rgb(6, 167, 189);  
}

/******* Mobile Responsiveness ******/
@media (max-width: 991.98px) {
    .ucsd-logo {
        width: 100px; 
        height: 60px;
    }
    header h1 {
        font-size: 2rem;
    }
    header h3 {
        font-size: 1rem;
    }
    .btn-nav h1 {
        font-size: 16px;
    }
    .conference-img {
        height: 200px;
        width: 200px;
    }
    header .container  {
        padding: 18% 0%;   
    }
    .small-header .container {
        padding: 19% 0%;
    }
    .support {
        text-align: center;
    }
    .email-input {
        width: 90px;
    }
    .conference {
        text-align: center;
    }
    .archive {
        text-align: center;
        margin: 0%;
        padding: 0%;
    }
    .archive h4 {
        font-size: 1rem;
    }
    .archive .col-12 {
        padding: 0;
        margin: 0;
    }
}

/********** Archive ******/
.text-date {
    font-weight: bold;
    color: rgb(6, 167, 189); 
}

.archive .btn {
    background-color: #04D4F0;
    color: white;
    border: none;
}

.archive .btn:hover {
    background-color: rgb(6, 167, 189);  
}

.archive hr {
    width: 50%;
}