html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.btn:active {
    background-color: rgb(12, 181, 211) !important;
}


/***** Header *****/
.jumbotron {
    color: white;
    margin-bottom: 0;
    background-color: rgb(4, 4, 48);
}

.jumbotron .nav-link {
    color: white;
}

header h1 {
    font-weight: 700;
    font-size: 3em;
    padding-top: 16%;
    color: #FFC634;

}

h2 {
    font-weight: 700;
    color: rgb(6, 6, 85);
}

header .container.main-header {
    height: 85vh;
}

.btn.learn-more {
    background-color: rgb(12, 181, 211);
    color: white;
    border: none;
    font-size: 22px;
    padding: 1% 2%;
    margin-top: 2%;
}


.btn.learn-more:hover {
    background-color: rgb(13, 149, 173);
}

.btn.learn-more:active {
    background-color: rgb(12, 181, 211) !important;
}

/***** Navigation Buttons ****/
.btn-nav {
    color: white;
    padding: 3.5%;
    text-align: center;
}

.btn-nav:hover {
    text-decoration: none;
}

/*div.btn-about {
      background-color: #56D3B8;
      border-right: 1px solid black;
}

div.btn-events {
      background-color: #04D4F0;
      border-right: 1px solid black;
}

div.btn-involve {
    background-color: rgb(90, 159, 224);
}*/

.nav-link {
    font-size: 22px;
}

.nav-link:hover {
    color: rgb(255,197,3);
}

/**** Conference ****/
/*h2 {
    color: rgb(28, 28, 116);
}*/
#conference {
    margin-bottom: 5%;
}

.conference hr.bar {
    border: 2px solid rgb(255, 197,3);
    width: 200px; 
}
.conference .btn {
    background-color: rgb(12, 181, 211);
    color: white;
    border: none;
}

.conference .btn:hover {
    background-color: rgb(13, 149, 173);
}

.conference-img {
    margin-top: 40px;
    height: 290px;
}
/***** News ******/
.news {
    margin-top: 7%;
    background-color: #F8F9FA;
}
.news .card-header {
    color:  #F1B900;
    background-color: #10102F;

}

.news .card-body {
    padding: 12%;
}
.card-body .btn {
    background-color:  rgb(12, 181, 211);
    border: none;
}

.card-body .btn:hover {
    background-color:  rgb(13, 149, 173);
}

.social-card {
    display: flex;
    justify-content: center;
}


/**** Social Media *****/
.medium-card {
    margin-bottom: 30px;
}
/***** Support *****/
.support {
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #F8F9FA;
}

.support .btn {
    background-color: rgb(12, 181, 211);
    color: white;
    border: none;
}

.support .btn:hover {
    background-color: rgb(13, 149, 173);
}

/******** Footer *****/
.footer-right .btn {
    background-color: rgb(12, 181, 211);
    border: none;
    margin-top: 5%;
}

.footer-right .btn:hover {
    background-color: rgb(255,197,3);
}
.footer-distributed{
    background-color: #10102F;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    font: bold 16px sans-serif;
    text-align: left;
    padding: 15px 60px 10px;
    margin-left: 0;
    margin-top: 3px solid black;
    overflow: hidden;

}
/* Footer left */
.footer-distributed .footer-left{
    float: left;
    width: 50%;
    font-family: 'Source Sans Pro', sans-serif;
}
.
/* Logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0 0 10px;
}

.footer-distributed h3 span{
    color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 0.8;
    text-decoration: none;
    color:  inherit;
}
.footer-links a:hover{
        opacity: 0.7;
    }
.footer-distributed .footer-connect{
    color:  white;
    font-size: 14px;
    font-weight: normal;
    padding-top: 40px;
    margin: 0;
}

/* Footer social icons */

.fa {
  padding: 20px;
  font-size: 15px;
  text-align: center;
  align-content: center;
  margin: 5px 1px;
  border-radius: 5px;
}

/* Add a hover effect */

.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-medium {
    background: #125688;
    color: white;
  }
  .fa-youtube {
    background: #125688;
    color: white;
  }
/* Twitter */

.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-envelope {
    background: #3ea1ec;
    color: white;
}
/* Footer Right */

.footer-distributed .footer-right{
    float: right;
    font-family: 'Source Sans Pro', sans-serif;
}

.footer-distributed .footer-right p{
    display: block;
    vertical-align: top;
    margin: 20px 15px 0 0;
    color: #ffffff;
}
/* If you don't want the footer to be responsive, remove these media queries */

@media screen and (max-width: 950px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-company-name{
        font-size: 12px;
    }

    .footer-distributed form input{
        width: 300px;
    }
    .footer-distributed form button{
        padding: 10px 35px;
    }
    .footer-distributed .footer-connect{
      font:bold;
      margin-top: 0px;
      padding-top: 0px;
    }

}

@media screen and (max-width: 950px) {

    .footer-distributed{
        padding: 10px;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-right{
        float: none;
        max-width: 400px;
        margin: 0 auto;
    }

    .footer-distributed .footer-left{
        width: auto;
        margin-bottom: 5px;
    }

    .footer-distributed form button{
        float: none;
        cursor: pointer;
    }
    form button:hover{
        opacity: 0.7;
    }
    .footer-distributed .footer-connect{
      margin-top: 0px;
      padding-top: 0px;
    }

}


/******* Mobile Responsiveness ******/
@media (max-width: 768px) {
    .news .card-body {
        padding: 8%;
    }
    .conference hr.bar {
        width: 100%; 
    }
    .btn.learn-more {
        font-size: 20px;
        padding: 2% 3%;
        margin-top: 2%;
    }
    .ucsd-logo {
        width: 100px; 
        height: 60px;
    }
    header h1 {
        font-size: 2rem;
    }
    header h3 {
        font-size: 1rem;
    }
    .btn-nav h1 {
        font-size: 16px;
    }
    .conference-img {
        height: 222px;
        width: 328px;
    }
    header .container  {
        padding: 18% 0%;   
    }
    .small-header .container {
        padding: 19% 0%;
    }
    .support {
        text-align: center;
    }
    .email-input {
        width: 90px;
    }
    .conference {
        text-align: center;
    }
    .archive {
        text-align: center;
        margin: 0%;
        padding: 0%;
    }
    .archive h4 {
        font-size: 1rem;
    }
    .archive .col-12 {
        padding: 0;
        margin: 0;
    }
}

/********** Archive ******/
.text-date {
    font-weight: bold;
    color: rgb(6, 167, 189); 
}

.archive .btn {
    background-color: #04D4F0;
    color: white;
    border: none;
}

.archive .btn:hover {
    background-color: rgb(6, 167, 189);  
}

.archive hr {
    width: 50%;
}