#tsparticles {
    width: inherit;
    height: inherit;
}
.home-initial {
    height: calc(100vh - 76px);
    justify-content: center; 
    align-items: center;
    padding: 20vh 10% 0 10%;

    .home-title {
        width: 100%;

        h1.title {
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 0;
        }
    }

}

.home {
    &-section {
        padding-bottom: 2rem;
        width: inherit;
    }
}

#learn-more {
    img {
        width: inherit;
        transform: translateY(-1rem);
    }
}

/*
@include media-sm {
    .home-initial {
    
        .home-title {
            h1.title {
                font-size: 2.5rem;
            }
        }
    }
}
*/


@include media-md {
    .home-initial {
        padding: 30vh 10% 0 10%;
        .home-title {
            h1.title {
                font-size: 52px;
                line-height: 64px;
            }
        }
    }
    .home-buttons {
        padding: 3rem 0;
    }
}

@include media-lg {
    .home-initial {
        .home-title {
            h1.title {
                font-size: 48px;
                line-height: 56px;
            }
        }
    }
}